emacs/.emacs.d/#*
emacs/.emacs.d/elpa
emacs/.emacs.d/eshell
emacs/.emacs.d/games
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/saves
emacs/.emacs.d/smex-items
emacs/.emacs.d/themes
emacs/.emacs.d/tramp
emacs/.emacs.d/var
emacs/.emacs.d/.mc-lists.el
emacs/.emacs.d/auto-save-list
/hammerspoon/.hammerspoon/forecast_io_api_key.lua
/hammerspoon/.hammerspoon/gmail_creds.lua
/emacs/.emacs.d/ido.last
/emacs/.emacs.d/recentf
/emacs/.emacs.d/package-selected-packages.el
/emacs/.emacs.d/transient/
/emacs/.emacs.d/forge-database.sqlite

# Zed conversations contain potentially sensitive project information
zed/.config/zed/conversations/
zed/.config/zed/prompts/

# Python virtualenvs (e.g. nvim plugin-created venvs)
**/.venv/

# Keyboard firmware build artifacts (regenerable from the .kll sources)
/ergodox/log/

# Generated neovim spell binary (recompiled from en.utf-8.add)
nvim/.config/nvim/spell/*.spl
